{% extends '::base.html.twig' %}

{% block stylesheets %}
    
    {% stylesheets
        '@MondelSiteBundle/Resources/public/css/normalize.css'
        '@MondelSiteBundle/Resources/public/css/gh-buttons.css'
        '@MondelSiteBundle/Resources/public/css/classes.css'
        '@MondelSiteBundle/Resources/public/css/form.css'
        '@MondelSiteBundle/Resources/public/css/layout.css'
        filter='yui_css'        
    %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block body %}

    {% include 'MondelSiteBundle:Default:flashes.html.twig' %}

    <header id="main-header" class="content">

        <a href="/" class="float-left">
            <img id="main-logo" src="{{ asset('bundles/mondelsite/img/logo_cuentalo.png') }}" alt="Cuentalo">
        </a>

        {% block userInfo %}{% endblock %}

        <div class="clear"></div>
    </header>

    {% block firstContent %}{% endblock %}

    {% block mainContent %}{% endblock %}

    {% block footer %}{% endblock %}

{% endblock %}