{% extends '::base.html.twig' %}

{% block stylesheets %}

    {% stylesheets
        '@MondelSiteBundle/Resources/public/css/normalize.css'
        '@MondelSiteBundle/Resources/public/css/classes.css'
        '@MondelSiteBundle/Resources/public/css/site.css'
        filter='yui_css'
    %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block body %}

    {% include 'MondelSiteBundle:Default:flashes.html.twig' %}    

    <header id="main-header">
    </header>

    <section id="main-section">
        {% block mainContent %}{% endblock %}
    </section>

{% endblock %}

{% block javascripts %}{% endblock %}