{% extends 'MondelUserBundle::layout.html.twig' %}

{% block firstContent %}

    <div id="user-info" class="float-right">

        {% if is_granted('ROLE_USER') %}

            <span>Hola @{{ app.user.nick }}</span>
        
        {% else %}
            
           {% include 'MondelUserBundle:Default:login_form.html.twig' %}
        
        {% endif %}

    </div>

{% endblock %}