{% extends 'MondelCuentaloBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@MondelCuentaloBundle/Resources/public/css/forms.css' filter='yui_css' %}

    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}    
{% endblock %}
{% block content %}
    {{ parent() }}
   
<span class="titulo"><b>Términos y condiciones</b></span>
<br>
<span class="textoterminos">De forma previa a la utilización del servicio ofrecido por el sitio www.cuentalo.com.uy de ahora en más “Cuentalo”, los usuarios  deberán de leer completamente  este documento.
Las condiciones generales aquí expresadas son dispuestas por “Cuentalo” y son aplicables a los servicios prestados así como los futuros cambios o inclusión de nuevas funciones.
Los servicios prestados por “Cuentalo” serán gratuitos para los usuarios, pudiendo aparecer publicidad en el sitio que tenga consentimiento o sea  administrada por “Cuentalo”.
“Cuentalo” podrá cuando crea conveniente y sin necesidad de previo aviso modificar las condiciones generales. 
Las modificaciones realizadas en “Cuentalo” permanecerán activas una vez sean publicadas en el sitio.
No son aceptadas las responsabilidades penales y/o civiles del uso que otras personas pudiesen hacer de la información que los usuarios proporcionen.
</span>
<br><br>
<span class="titulo"><b>Aceptación de los usuarios en el sitio</b></span>
<br>
<span class="textoterminos">Cada usuario deberá aceptar este documento para poder realizar comentarios en el sitio “Cuentalo”.
El usuario que este en desacuerdo con las normas impuestas, no podrá comentar en el sitio “Cuentalo” debiendo retirarse de manera inmediata.
</span>
<br><br>
<span class="titulo"><b>Registro de Usuarios</b></span>
<br>
<span class="textoterminos">Para el acceso a comentar en el sitio, el usuario necesariamente deberá registrarse en el mismo, estos datos serán usados para informar y contactar con el usuario.
Cuando el usuario se registre su información deberá ser fidedigna y la misma poseerá  el carácter de declaración jurada.
Si la información brindada no fuera fidedigna el usuario estará incumpliendo las condiciones generales del sitio pasando a ser responsable por todos los perjuicios derivados hacia “Cuentalo” o a terceros.
Cada usuario registrado tendrá un nick y una contraseña que le permitirá el acceso, desde el cual dispondrá de un panel de administración donde podrá eliminar sus post anteriores, no siendo aplicable su auto administración sino estuviera registrado.
Los datos de registro solo podrán ser usados por la persona que lo efectuó siendo responsabilidad del mismo como los administra, en caso de que sus datos fueran revelados a terceros deberá contactar con “Cuentalo”.
El sitio usara “cookies” que almacenará las variables de sesión en usuarios registrados por un tiempo máximo de 3600 minutos, el usuario deberá desloguearse correctamente para que su sesión sea cerrada.
Es obligación del usuario mantener sus datos actualizados.
Los usuarios registrados podrán darse de baja de “Cuentalo” cuando ellos lo crean necesario a través del menú de administración, eliminándose de manera automática todos los post creados así como los comentarios.
La contraseña de cada usuario nunca será revelada, y es irrecuperable ya que usamos una encriptación muy avanzada para guardarla. Si un usuario pierde su contraseña el método de recuperación es a través de un reseteo. 
</span>
<br><br>
<span class="titulo"><b>Sobre las publicaciones en el sitio</b></span><br>
<span class="textoterminos">
La información que el usuario publica es de su entera responsabilidad y “cuentalo” se reserva el derecho de poder eliminar cualquier post que no crea conveniente que deba permanecer en el sitio, pudiendo además bannear la ip desde donde se produjo la publicación y/o si es usuario registrado la eliminación del mismo de forma irrevocable.
<br>
<b>No son aceptadas:</b>
La publicación de publicidad en los post  y/o comentarios realizados en el sitio por los usuarios.
La publicación de datos personales o de terceros, así mismo tampoco la agresión a una persona u organización.
La publicación de links de descargas de cualquier material con derechos de copyright que no fueran previamente autorizados a su descarga.
La publicación de criticas y sugerencias sobre el sitio en el mismo para ello deberá hacerlo en el apartado contacto.
EL sitio almacenará en cada post la ip desde donde el usuario lo realizo así también como el país.
</span>

<br><br>
<span class="titulo"><b>Notificaciones</b></span><br>
<span class="textoterminos">
Los usuarios podrán tomar contacto con “Cuentalo” cuando sea necesario a la dirección de correo soporte@cuentalo.com.uy.
“Cuentalo” podrá  enviar notificaciones sobre comentarios o publicaciones siempre que sea necesario así como también podrá enviar notificaciones respecto al servicio para notificar sobre funciones en el sitio o mejoras.
El usuario podrá configurar si desea recibir notificaciones.</span>
<br><br>
<span class="titulo"><b>De la operativa del sitio</b></span><br>
<span class="textoterminos">
No se garantiza la operativa del sitio y el acceso al servicio las 24hs, debido al mantenimiento que se debe realizar en los sistemas, en ningún caso “Cuentalo” responderá por la operativa, seguridad y la eficacia de los mismos.
</span><br><br>
<span class="titulo"><b>Cese del servicio</b> </span><br>
<span class="textoterminos">
“Cuentalo” podrá desactivar definitivamente la cuenta de un usuario o eliminar los post creados anónimamente por algún usuario sin previa notificación, si dicho post o usuario no cumple las normativas expresadas en este documento.
</span>



{% endblock %}