*~
/web/bundles/
/web/css/
/web/js/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.yml
/app/config/parameters.ini
/nbproject/
/administrator/
.buildpath
.project
.settings
bin/doctrine
bin/doctrine.php
composer.lock

facebook/
actualizar.sh
web/sitemap.xml

.pydevproject
