<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="cuentalo,secretos,anecdotas,mensajes,red social, redes sociales uruguayas" />
        <meta name="keywords" content="" />
        <meta name="og:title" content="Cuentalo - Conta tu Secreto, Anectoda o Mensaje" />
        <meta name="og:type" content="website" />
        
        <meta name="og:description" content="Cuentalo,secretos,anecdotas,mensajes,red social, redes sociales uruguayas" />
        <meta name="og:site_name" content="Cuentalo" />
        <meta name="og:country-name" content="Uruguay"/>
        <meta name="og:email" content="info@cuentalo.com.uy"/>        

        <title>Cuentalo - {% block title %}Conta tu Secreto, Anectoda o Mensaje{% endblock %}</title>

        {% block stylesheets %}{% endblock %}

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link rel="apple-touch-icon" href="{{ asset('/apple-touch-icon.png') }}">
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
