<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />        
        <meta name="keywords" content="red social, cuentalo, mensaje, anecdota, secreto, video, frase, chiste, uruguay, canelones" />
        <meta property="og:image" content="http://www.cuentalo.com.uy/bundles/mondelcuentalo/img/cuentalo_sharer.png" />
        <meta property="fb:app_id" content="130545307059914"/>
        <meta property="og:site_name" content="Cuentalo"/>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
                
        <meta name="geo.placename" content="Uruguay" />
        <meta name="geo.position" content="-32.522779;-55.765835" />
        <meta name="geo.region" content="" />
        <meta name="ICBM" content="-32.522779, -55.765835" />

        {% block metas %}
            <meta property="og:title" content="Cuentalo - Una Red Social Diferente, Desahogate Y Comparte Lo Que Te Gusta Anonimamente"/>
            <meta property="og:type" content="website"/>
            <meta property="og:url" content="http://www.cuentalo.com.uy"/>
            <meta name="description" content="Cuentalo es una red social uruguaya para compartir frases, mensajes, anecdotas, chistes, videos y más. Lo mejor es que todo puede ser anonimamente." />
            <meta name="language" content="es">
        {% endblock %}
        
        <title>Cuentalo - {% block title %}Una Red Social Para Compartir Lo Que Te Gusta Anonimamente{% endblock %}</title>

        {% block stylesheets %}{% endblock %}

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link rel="apple-touch-icon" href="{{ asset('/apple-touch-icon.png') }}">
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
