<!DOCTYPE html>
<!--[if IE 7]>         <html lang="es" class="ie7"> <![endif]-->
<!--[if IE 8]>         <html lang="es" class="ie8"> <![endif]-->
<!--[if IE 9]>         <html lang="es" class="ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="es"> <!--<![endif]-->
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="red, social, cuentalo, mensaje, anecdota, secreto, video, frase, chiste, uruguay, canelones" />

        {% block metatags %}

            <meta name="description" content="Cuentalo es una red social uruguaya para compartir frases, mensajes, anecdotas, chistes, videos y más. Lo mejor es que todo puede ser anonimamente." />

        {% endblock %}

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Cuentalo - {% block title %}Una Red Social Para Compartir Lo Que Te Gusta Anonimamente{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block stylesheets %}{% endblock %}

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        {% block body %}{% endblock %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-27947390-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 
                    'https://ssl' : 
                    'http://www') 
                    + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>