<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">        
        <meta name="keywords" content="red social, cuentalo, mensaje, anecdota, secreto, video, frase, chiste, uruguay, canelones" />
        
        <!--
        <meta property="og:image" content="http://www.cuentalo.com.uy/bundles/mondelcuentalo/img/cuentalo_sharer.png" />
        <meta property="fb:app_id" content="130545307059914"/>
		<meta property="og:site_name" content="Cuentalo"/>
        		
        <meta name="geo.placename" content="Uruguay" />
        <meta name="geo.position" content="-32.522779;-55.765835" />
        <meta name="geo.region" content="" />
        <meta name="ICBM" content="-32.522779, -55.765835" />
        -->

		{% block metatags %}
	        <meta property="og:title" content="Cuentalo - Una Red Social Diferente, Desahogate Y Comparte Lo Que Te Gusta Anonimamente"/>
	    	<meta property="og:type" content="website"/>
	    	<meta property="og:url" content="http://www.cuentalo.com.uy"/>
            <meta name="description" content="Cuentalo es una red social uruguaya para compartir frases, mensajes, anecdotas, chistes, videos y más. Lo mejor es que todo puede ser anonimamente." />            
        {% endblock %}
        
        <title>Cuentalo - {% block title %}Una Red Social Para Compartir Lo Que Te Gusta Anonimamente{% endblock %}</title>

        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />        
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
