<img src="http://www.cuentalo.com.uy/mondelcuentalo/img/head_notificacion_mail.gif" />
<div style="width: 620px;">
    <p>Hola, {{ nombre }}!</p>
    <p>
        Nos llego una petici&oacute;n para recuperar tu contrase&ntilde;a.
        Tu nueva contrase&ntilde;a es: {{ contrasenia }}
        Te agradecemos si ingresas al sitio y configuras una nueva en
        un plazo no mayor a 24hs.
    </p>
    <p>
        Saludos<br/>
        El Equipo de Cuentalo
    </p>
</div>
<img src="http://www.cuentalo.com.uy/bundles/mondelcuentalo/img/footer_notificacion_mail.gif" />