<div id="login">
    <div id="login_container">
        <a id="login_button"><span>Entrar</span><em></em></a>
        <div class="Clear"></div>
        <div id="login_box">                
            <form id="login_form" action="{{ path('_ingresar_chequeo') }}" method="post">
                <fieldset id="body">
                    <fieldset>
                        <label for="username">Email</label>
                        <input type="text" name="_username" id="username">
                    </fieldset>
                    <fieldset>
                        <label for="password">Contrase&ntilde;a</label>
                        <input type="password" name="_password" id="password">
                    </fieldset>
                    <input type="submit" id="login" value="Entrar">
                    <label for="remember_me"><input type="checkbox" id="remember_me" name="_remember_me" checked>No cerrar sesi&oacute;n</label>
                </fieldset>
                <span>
                    <a href="{{ path('_contrasenia_recuperar') }}">He perdido mi contrase&ntilde;a</a>
                </span>
                <input type="hidden" name="_target_path" value="{{ app.request.getRequestUri | replace({'app_dev.php/': '', 'app.php/': ''}) }}" />                
            </form>
        </div>
    </div>
</div>