<form action="{{ path('login_check') }}" method="post">

    <label for="username" class="LoginText">Email:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" class="LoginInput" />

    <label for="password" class="LoginText">Contraseña:</label>
    <input type="password" id="password" name="_password" class="LoginInput" />

    <input type="checkbox" id="remember_me" name="_remember_me" checked />
    <label for="remember_me">Recordarme ?</label>

    <input type="submit" name="login" class="ButtonLogin" value="Entrar" />

</form>
