<p>
    Para recuperar su contraseña escriba su email con el que se registro y le enviaremos una contraseña "random" para que pueda ingresar al sitio y cambiar la contraseña por su preferida.
</p>

<form action="{{ path('recuperar_contrasenia') }}" method="post">

    Email <input name="_email" />

    <input type="submit" />

</form>
