
    <form action="{{ path('registro') }}" method="post" {{ form_enctype(form) }}>

        {{ form_errors(form) }}

        {{ form_rest(form) }}

        <input type="submit" value="Registrarme" />

    </form>