/* BEGIN generic classes ----------- */

.clear {
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.invisible {
    display: none;
}

.content {
    padding: 0 5%;
}

/* END generic classes ----------- */