/* BEGIN generic classes ----------- */

.clear {
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.invisible {
    display: none;
}

/* END generic classes ----------- */