body {
    background: url(../../bundles/mondelsite/img/2.jpg) 0 -320px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;    
    position: relative;
}

.ie9 body {
    filter: none;
}

/* BEGIN main header ----------- */

#main-header {
    background: #0051a3; /* Old browsers */    
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNTFhMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMjQyOGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #0051a3 0%, #02428c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0051a3), color-stop(100%,#02428c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #0051a3 0%,#02428c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #0051a3 0%,#02428c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #0051a3 0%,#02428c 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #0051a3 0%,#02428c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0051a3', endColorstr='#02428c',GradientType=0 ); /* IE6-8 */
    border-bottom: 1px solid black;      
}

#main-logo {
    max-width: 100%;
}

#user-info {
    margin: 8px;
}

#login-form > input {    
    -webkit-transition: width .5s ease-out;
       -moz-transition: width .5s ease-out;
        -ms-transition: width .5s ease-out;
         -o-transition: width .5s ease-out;
            transition: width .5s ease-out;
    width: 125px;
}

#login-form > input:focus {
    width: 175px;
}

#login-form a,
#login-form span {
    color: #FFF;
    font-size: 0.75em;

}

#remember_me {
    margin: 0 0 0 5px;
}

/* END main header ----------- */

/* BEGIN register ----------- */

#register-content {
    background: #EEE;
    border: 1px solid #DDD;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 1px 1px 10px 0 #888;
       -moz-box-shadow: 1px 1px 10px 0 #888;
            box-shadow: 1px 1px 10px 0 #888;            
    margin: 15px auto;
    padding: 10px;
    width: 450px;    
}

#register-content .button {
    margin: 15px 0 0 0;
}

#register-content .input-widget select {
    background: #FFF;
}

#view-register-button {
    display: block;
    margin: 10px auto;
}

/* END register ----------- */



/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    
    #main-header > a {
        display: block;
        float: none;        
    }

    #main-logo {
        display: block;
        margin: 0 auto;
    }

    #user-info {
        float: none;
    }

    #login-form > input,
    #login-form > input:focus {
        box-sizing: border-box;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    #login-button {
        display: block;
        margin: 10px auto;
        width: 100%;
    }

    .content {
        padding: 0 5% 5%;
    }

    #register-content {        
        float: none;
        margin: 5%;
        padding: 3%;
        width: auto;
    }

    #register-content .input-field {
        box-sizing: border-box;
        width: 100%;
    }

}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}