
#box {
    /*
    background: url('../../bundles/mondelcuentalo/img/box.png');
	background-repeat:no-repeat;
	*/
	border: 2px solid #91b658;
    /*height: 223px;*/
    width: 580px;
}

#box textarea {
    background-color: transparent;
    border-color: transparent;
    color: #929191;
    font-size: 13px;
    height: 117px;
    margin: 5px;
    resize: none;
    width: 573px;
}

#options {
	clear: both;
    font-size: 12px;
    height: 17px;
    margin-left: 10px;
    width: 560px;
}

#options select {
    /*background: transparent;
    border: none;*/    
}

#pub_mondel {
    margin: 10px 20px;
}

#box_bottom {
	background: #f1f1f1;
	border-top: 1px solid #91B658;	
	height: 44px;
    margin-top: 15px;
    padding: 6px 0;
}

#box_bottom span#count_caracteres {
    font-size: 35px;
	float: left;
	margin-left: 10px;
}

.Right {
    float: right !important;
}

.Post {
    background: #FFFFFF;    
    min-height:60px;
    width: 582px;
}

#center .Post {
	margin: 0;
}

#stream .Post {
	margin: 25px 2px;
}

.Post .Titulo {
    border: 1px solid #91B658;
    font-size: 14px;
    padding: 7px 8px;
}

.IconoSexoM {
    background: url('../../bundles/mondelcuentalo/img/user_man.png');
    float: left;
    height: 23px;
    width: 23px;
}

.IconoSexoF {
    background: url('../../bundles/mondelcuentalo/img/user_woman.png');
    float: left;
    height: 23px;    
    width: 23px;
}

.Post .Titulo .TituloTexto {	
	margin: 0 27px;
	padding: 4px;	
}

.Post .Contenido {
    font-size: 13px;
    padding: 5px 8px;
    border-left: 1px solid #91B658;
    border-right: 1px solid #91B658;
    border-bottom: 1px solid #91B658;
    min-height:60px;
    /*max-height:150px;*/
    overflow: hidden;
}

.Post .Acciones {
	border-left: 1px solid #91B658;
    border-right: 1px solid #91B658;
	height: 33px;
}

.Post .Compartir {
	float: right;
	padding: 6px;
}

.Post .Compartir div {
	float: left;
	padding: 0 4px;
}

.Post .Compartir div.FB {
	height: 25px;
	/*overflow: hidden;*/
	/*width: 140px;*/	
}

.Post .Datos {
    font-size: 13px;
    border-left: 1px solid #91B658;
    border-right: 1px solid #91B658;
    border-bottom: 1px solid #91B658;
}

.Post .Datos .TituloComentarios {
    background: #d7d7d7;
    color: #4d4d4d;
    padding: 2px 5px;
}

.Post .Datos .Comentarios {
	background-color: #F6F6F6;        
}

.Post .Datos .Comentarios a{
    color: #444444;
}

.Post .Datos .Comentarios .IconoSexo {
    width: 12px;
}

.Post .Datos .Comentarios .InputComentarios {
	border: 1px solid #929191;
	height: 25px;
	margin: 10px;
	width: 558px;	
}

.Post .Datos .Comentarios .PComentarios {
	padding: 5px 0;
	text-align: center;
}

.PostLoading {
	text-align: center;
}

#video {
	border-top: 1px solid #91B658;
	border-bottom: 1px solid #91B658;
	display: none;
	float: left;
	margin: 10px 0;
	padding: 10px;
}

#video .TituloVideo {
	float: left;
	font-size: 13px;
	font-weight: bold;	
	width: 520px;
}

#video #eliminarVideo {
	float: right;
	font-weight: bold;
	width: 15px;
}

#video #eliminarVideo:hover {
	cursor: pointer;
}

#video .ThumbnailVideo {
	float: left;
	margin: 5px;
}

#video .DescripcionVideo {
	float: left;
	font-size: 13px;
	margin: 5px;	
	width: 380px;
}

#video .UrlVideo {	
	margin: 10px 0;
}

.Comentario {	
	border-bottom: 1px solid #FFF;
	
	float: left;
	padding: 5px;
	width: 570px;
}

.ComentarioDatos {
	float: left;
	width: 550px;
}

.ComentarioDatos .IconoSexoM {
	margin: 5px;	
}

.ComentarioDatos .IconoSexoF {
	margin: 5px;		
}

.ComentarioDatos .Texto {
	float: left;
	width: 510px;
}

.ComentarioDatos .Texto .Tiempo {
	font-size: 10px;	
}

.ComentarioAccion {
	float: left;
	width: 18px;	
}

/* ------------------------------------------ */



.EliminarItem {	
	display: none;
    float: right;
    font-weight: bold;
}

.EliminarItem a {	
    text-decoration: none;
}

 #adsense
 {
     /*position: fixed;*/
     margin: 0 20px;
 }




.flash-notice {
    text-align: center;
}

#loginIndex {
    padding: 8px;
    margin: 5px 0;
}

#loginIndex form input
{
    margin: 8px 0;
}

#Error {
    text-align: center;
    color: red;
}

#megusta {
    top:15px;
    text-align: center;
}





