#menu {
    line-height: 25px;
}

#menu li {
    background: url('../img/arrow.png') 75% 70% no-repeat;
    padding-top: 5px;
}

#menu li a {
    text-decoration: none;
    color:#000000;
}

#menu li a:hover {
    color: #6a6969;

}

#menu_top {
    width: 640px;

}

#content_menu_top {
    margin: 0 25px;
    width: 580px;
}

#center .Wrap {
    margin: 0 25px;
}

#top .Wrap {
    margin: 0 auto;
    width: 1000px;
}

#content_top {
    width: 807px;
    padding-top: 25px;
    margin-left:-5px;
}

#content_top div {
    float: left;
}

#logo {
    height:45px;
    width: 165px;
    margin-top:-15px;

}

#box {
    background: url('../img/box.png');
    height: 202px;
    width: 587px;
}

#box textarea {
    background-color: transparent;
    border-color: transparent;
    color: #929191;
    font-size: 13px;
    height: 117px;
    margin: 5px;
    resize: none;
    width: 573px;
}

#options {
    font-size: 12px;
    margin-left: 10px;
    width: 560px;
}

#options select {
    background: transparent;
    border: none;
}

#right_options {
    float: right;
}

#box_bottom {
    margin: 7px 10px;
}

#box_bottom p {
    float: left;
    font-size: 14px;
    margin: 10px 0;
}

#box_bottom input {
    float: right;
}

.Right {
    float: right;
}


.Box_contenido {
    /*background: url('../img/boxmasculino.jpg');
    height: 199px;*/
    background: #FFFFFF;
    margin: 25px 2px;
    width: 582px;
   min-height:60px;
    max-height:150px;
}

.Box_contenido .Titulo {
    padding: 7px 8px;
    border: 1px solid #d7d7d7;
}

.Box_contenido .Contenido {
    font-size: 13px;
    padding: 0 8px;
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    min-height:60px;
    max-height:150px;
    overflow: hidden;
}

.Box_contenido .Datos {
    padding: 5px 8px;
    border-left: 1px solid #D7D7D7;
    border-right: 1px solid #D7D7D7;
    border-bottom: 1px solid #D7D7D7;
}

.Button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #f6f6f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6');
	background-color:#ffffff;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:arial;
	font-size:15px;
	font-weight:normal;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}

.Button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #f6f6f6 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff');
	background-color:#f6f6f6;
    cursor: pointer;
}

.Button:active {
	position:relative;
	top:1px;
}

