body {
	background: #f5f5f5;
    color: #444444;
    font-family: Arial;
}

/* HEADER */

#top {
    background: url('../../bundles/mondelcuentalo/img/bg_header.png');
    border-bottom: 3px solid #8f8f8f;
    height: 56px;
}

.Wrap {
	height: 100%;
    margin: 0 auto;    
    width: 1000px;
}

#top #logo {
    float: left;
    height: 68px;    
    width: 202px;
}




 

/* Login Container (default to float:right) */
#login_container {
    position:relative;
    float:right;
    font-size:12px;
}

/* Login Button */
#login_button { 
    display:inline-block;
    float:right;
    background:#8f8f8f; 
    border:1px solid #8f8f8f; 
    border-radius:3px;
    -moz-border-radius:3px;
    position:relative;
    z-index:30;
    cursor:pointer;
}

/* Login Button Text */
#login_button span {
    color:#FFF; 
    font-size:14px; 
    font-weight:bold;
    padding:7px 12px 9px 10px;
    display:block;
}

#login_button:hover {
    /*background:url(../../bundles/mondelcuentalo/img/button_bg_hover.png) repeat-x;*/
}

/* Login Box */
#login_box {
    position:absolute;
    top:34px;
    right:0;
    display:none;
    z-index:29;
}

/* If the Login Button has been clicked */    
#login_button.Active {
    border-radius:3px 3px 0 0;
}

#login_button.Active span {
    background-position:53px -76px;
}

/* A Line added to overlap the border */
#login_button.Active em {
    position:absolute;
    width:100%;
    height:1px;    
    bottom:-1px;
}

/* Login Form */
#login_form {
    width:248px; 
    border:1px solid #8f8f8f;
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    margin-top:-1px;
    background:#8f8f8f;
    padding:6px;
}

#login_form fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}

fieldset#body {
    background:#fff;
    border-radius:3px;
    -moz-border-radius:3px;
    padding:10px 13px;
    margin:0;
}

#login_form #remember_me {
    width:auto;
    margin:1px 9px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
}

#body label {
    color:#3a454d;
    margin:9px 0 0 0;
    display:block;
    float:left;
}

#login_form #body fieldset label {
    display:block;
    float:none;
    margin:0 0 6px 0;
}

/* Default Input */
#login_form input {
    width:92%;
    border:1px solid #899caa;
    border-radius:3px;
    -moz-border-radius:3px;
    color:#3a454d;
    font-weight:bold;
    padding:8px 8px;
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;
    font-size:12px;
}

/* Sign In Button */
#login_form #login {
    width:auto;
    float:left;
    background: #8f8f8f;
    color:#fff;
    padding:7px 10px 8px 10px;    
    border:0px solid #000;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    margin:0 12px 0 0;
    cursor:pointer;
    *padding:7px 2px 8px 2px; /* IE7 Fix */
}

/* Forgot your password */
#login_form span {
    text-align:center;
    display:block;
    padding:7px 0 4px 0;
}

#login_form span a {
    color: #FFF;
    text-shadow:1px 0px #000;
    font-size:12px;
}

input:focus {
    outline:none;
}

/* Login Container (default to float:right) */
#logout_container {
    position:relative;
    float:right;
    font-size:12px;
}

/* Login Button */
#logout_button { 
    display:inline-block;
    float:right;
    background:#8f8f8f; 
    border:1px solid #8f8f8f; 
    border-radius:3px;
    -moz-border-radius:3px;
    position:relative;
    z-index:30;
    cursor:pointer;
    text-decoration: none;
}

/* Login Button Text */
#logout_button span {
    color:#FFF; 
    font-size:14px; 
    font-weight:bold;
    padding:7px 12px 9px 10px;
    display:block;
}

/* If the Login Button has been clicked */    
#logout_button.Active {
    border-radius:3px 3px 0 0;
}

#logout_button.Active span {
    background-position:53px -76px;
}

/* A Line added to overlap the border */
#logout_button.Active em {
    position:absolute;
    width:100%;
    height:1px;    
    bottom:-1px;
}

#navigation {
	background: url('../../bundles/mondelcuentalo/img/bg_header.png');
    box-shadow: 0 1px 5px #8f8f8f;   
    height: 30px;
   	-moz-box-shadow: 0 1px 5px #8f8f8f;
   	-webkit-box-shadow: 0 1px 5px #8f8f8f;
}

#navigation ul {
	padding: 5px 0;
}

#navigation ul li {
	float: left;
}

#navigation ul li a {
	color: #FFF;
}

#navigation ul li span {
	padding: 0 5px;
}

#facebook {
	width:182px;
	height:40px;
	float:left;
    background: #91b658;
    text-decoration: none;
    color:#ffffff;
    text-align:center;
    font-weight:bold;
    line-height:45px;
    font-size: 14px;
    margin-top:15px;
}

#titulo_adsense {
	width:182px;
	height:40px;
	float:left;
    background: #91b658;
    text-decoration: none;
    color:#ffffff;
    text-align:center;
    font-weight:bold;
    line-height:45px;
    font-size: 14px;
    position:fixed;
}


#menu_izquierdo {
    float: left;
    width: 182px;
    height:227px;
}


#menu_top {
    float: left;
    width: 820px;
}

#content_menu_top {
    margin: 0 25px;
    text-align: right;
}

#content_menu_top #nick_user {
    padding: 25px 190px;
}

#login_index {
    font-size: 12px;
    text-align: left;
    float: right;
}

#login_index table {
    border-collapse: separate;
    border-spacing: 4px;
}

#login_index .FormInput {
    background: #EEE;
    border: 1px solid #CFCFCF;
    color: #929191;
    font-size: 15px;
    height: 20px;
    margin-right: 15px;
    width: 170px;
}

#login_index .ButtonForm {
    background-color: #eeeeee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
    background-image: linear-gradient(top, #eeeeee, #cccccc);
    border: 1px solid #ccc;
    border-bottom: 1px solid #bbb;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    color: #333;
    font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    padding: 0 0;
    text-align: center;
    text-shadow: 0 1px 0 #eee;
    width: 100px;
    height: 23px;
}

#login_index .ButtonForm:hover {
    background-color: #dddddd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#bbbbbb));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: linear-gradient(top, #dddddd, #bbbbbb);
    border: 1px solid #bbb;
    border-bottom: 1px solid #999;
    cursor: pointer;
    text-shadow: 0 1px 0 #ddd;
}

#login_index .ButtonForm:active {
    border: 1px solid #aaa;
    border-bottom: 1px solid #888;
    -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    -moz-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    -ms-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    -o-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
}

/* CONTENT */

#center .Wrap {
    margin: 0 25px;
}

#center .Wrap #message {

}

.Notice {
    color: green;
}

.Error {
    color: red;
}

#content {
    margin: 25px auto;
    width: 1000px;
}

#center {
    float: left;
    width: 640px;
}

/* LEFT */
#left {
    float: left;
    width: 165px;
    min-height: 1px; 
}

#menu {
    line-height: 25px;
}

#menu li {
    background: url('../../bundles/mondelcuentalo/img/arrow.png') 75% 70% no-repeat;
    padding-top: 5px;
}

#menu li a {
    text-decoration: none;
    color:#000000;
}

#menu li a:hover {
    color: #6a6969;
}

/* RIGHT */

#right {
    float: left;
    text-align: center;
    width: 195px;
}

/* FOOTER */
#footer {
    text-align: center;
}



.Clear {
	clear: both;
}

