#notificaciones {
	margin: 10px 0;
	width: 580px;	
}

#notificaciones .Notificacion {
	margin: 10px;
}

#notificaciones .Notificacion .Leida,
#notificaciones .Notificacion .Nueva {	
	display: inline-block;
	height: 24px;
	width: 24px;
}

#notificaciones .Notificacion .Leida {
	background: url('../../bundles/mondelcuentalo/img/notificacion_leida.png');
}

#notificaciones .Notificacion .Nueva {
	background: url('../../bundles/mondelcuentalo/img/notificacion_nueva.png');	
}

#notificaciones .Notificacion .NotificacionDatos {
	display: inline-table;
}

#notificaciones .Notificacion .NotificacionDatos * {
	margin: 0 10px;
}

#form_notificacion {
	display: block;
	margin: 20px 0;
}

#form_notificacion * {
	float: none;
}