{% extends 'MondelSiteBundle::layout.html.twig' %}

{% block userInfo %}

    <div id="user-info" class="float-right">

        {% if is_granted('ROLE_USER') %}

            <span>Hola @{{ app.user.nick }}</span>
            <a href="{{ path('user_logout') }}">cerrar sesión</a>
        
        {% else %}
            
            {% include 'MondelUserBundle:Default:login_form.html.twig' %}
        
        {% endif %}

    </div>

{% endblock %}

{% block firstContent %}

    {% if not is_granted('ROLE_USER') %}

        <section id="register-content" class="content">
            {% include 'MondelUserBundle:Default:register_form.html.twig' %}
        </section>

    {% endif %}

{% endblock %}