{% extends 'MondelSiteBundle::layout.html.twig' %}

{% block mainContent %}

    {% for post in posts %}

        <article class="post float-left">
            <header class="post-header">
                <span>ayer</span>
                <span>@anon</span>
            </header>
            <section class="post-content">
                <p>{{ post.text }}</p>
            </section>
        </article>

    {% endfor %}        

{% endblock %}