{# Layout para la portada de MondelCuentaloBundle #}

{% extends '::base.html.twig' %}

{% block stylesheets %}

    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/mondelcuentalo/css/reset.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/mondelcuentalo/css/layout.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/mondelcuentalo/css/jquery-ui.css') }}" />

{% endblock %}

{% block body %}

    <div id="top">
        {% block top %}{% endblock %}
    </div>

    <div id="content">

        <div id="left">
            {% block left %}{% endblock %}
        </div>

        <div id="center">
            {% block center %}{% endblock %}
        </div>

        <div id="right">
            {% block right %}{% endblock %}
        </div>

    </div>

    <div id="FooterAds">
        <script type="text/javascript"><!--
        google_ad_client = "ca-pub-4717880844454319";
        /* Footer nuevo */
        google_ad_slot = "1416085040";
        google_ad_width = 728;
        google_ad_height = 90;
        //-->
        </script>
        <script type="text/javascript"
        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
    </div>

{% endblock %}