{# Layout para la portada de MondelCuentaloBundle #}

{% extends '::base.html.twig' %}

{% block stylesheets %}

    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/mondelcuentalo/css/reset.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/mondelcuentalo/css/layout.css') }}" />

{% endblock %}

{% block body %}

    <div id="top">
        {% block top %}{% endblock %}
    </div>

    <div id="content">

        <div id="left">
            {% block left %}{% endblock %}
        </div>

        <div id="center">
            {% block center %}{% endblock %}
        </div>

        <div id="right">
            {% block right %}{% endblock %}
        </div>

    </div>

{% endblock %}