<IfModule mod_rewrite.c>
    RewriteEngine On
	
    #MANTENIMIENTO
    #Para dejar en mantenimiento solamente descomenta 
    #las siguientes 4 lineas, las dos primeras son las
    #ip que pueden ingresar igual al sitio
    
    #RewriteCond %{REMOTE_HOST} !^999\.999\.999\.999    
    #RewriteCond %{REMOTE_HOST} !^999\.999\.999\.999
    #RewriteCond %{REQUEST_URI} !/web/mantenimiento/index.html$
    #RewriteRule $ /web/mantenimiento/index.html [R=302,L]

    #ARRIBA
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ app.php [QSA,L]
</IfModule>
