<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ app.php [QSA,L]
	
    #MANTENIMIENTO
    RewriteEngine On
    ###
    #N
    #RewriteCond %{REMOTE_HOST} !^999\.999\.999\.999
    #F
    #RewriteCond %{REMOTE_HOST} !^999\.999\.999\.999
    ###
    RewriteCond %{REQUEST_URI} !/web/mantenimiento/index.html$
    RewriteRule $ /web/mantenimiento/index.html [R=302,L]
</IfModule>
